body {
  background:rgb(244, 248, 249);
  font-family:Helvetica;
}

.box {
  background:white;
  width:856px;
  height:204px;
  border:2px solid rgb(225, 232, 237);
  border-radius:6px;
  padding:30px 30px 0px 30px;
}

.userpic {
  float:left;
  margin-right:20px;
  cursor:pointer;
}

.header {
  display:inline-block;
}

.user {
  font-size:30px;
  font-weight:bold;
  cursor:pointer;
}

.followbutton {
  float:right;
  width:184px;
  height:32px;
  border:2px solid rgb(85, 172, 238);
  border-radius:8px;
  text-align:center;
  font-weight:bold;
  font-size:26px;
  color:rgb(85, 172, 238);
  padding:12px 0px;
  cursor:pointer;
}

.followbutton img {
  height:22px;
  margin-right:6px;
}

.username {
  font-size:24px;
  color:rgb(104, 109, 129);
  cursor:pointer;
}

.tweet {
  margin:-12px 0px;
  font-size:28px;
}

.tweetdate {
  margin:-24px 0px 0px 0px;
  font-size:26px;
  color:rgb(101, 116, 127);
}

.footer {
  color:rgb(105, 120, 130);
  font-size:26px;
  margin:24px 0px;
}

.footer img {
  height:20px;
}

.reply {
  margin-right:24px;
  cursor:pointer;
}

.retweet {
  margin-right:24px;
  cursor:pointer;
}

.fav {
  cursor:pointer;
}
